aniso8601==8.0.0
attrs==19.3.0
boto3==1.15.6
botocore==1.18.6
click==7.1.1
configparser==5.0.0
docutils==0.15.2
env-tools==2.2.0
Flask==1.1.2
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
gunicorn==20.0.4
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
MarkupSafe==1.1.1
mirakuru==2.3.0
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
port-for==0.4
psutil==5.7.2
py==1.8.1
pynamodb==4.3.3
pyparsing==2.4.6
pytest==5.4.1
pytest-dynamodb==2.0.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2019.3
s3transfer==0.3.3
six==1.14.0
testfixtures==6.14.0
tini==3.0.1
toml==0.10.1
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.1
